body {
  font-family: sans-serif;
  background-image: url(bluryimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.textcenter {
  text-align: center;
}

.textjustify {
  text-align: justify;
}

h1{
  color: #ff9900;
  font-weight: normal;
  font-style: italic;
}

h2{
  color: #ff9900;
  font-weight: normal;
  font-style: italic;
}

h3{
  color: #ff9900;
  font-weight: normal;
  font-style: italic;
}

h4{
  color: #ff9900;
  font-weight: normal;
  font-style: italic;
}

h5{
  color: #ff9900;
  font-weight: normal;
  font-style: italic;
}

h6{
  color: #ff9900;
  font-weight: normal;
  font-style: italic;
}

.imgbox {
  border:7px solid #000000;
  padding:4px;
  background-color: #ffffff;
}
