/*new stylesheet*/
h1 {
  color: #ff66ff;
  background-color: #66ffff;
}


a:link {
  color:red;
}

a:visited {
  color:green;
}
a:active {
  color: #000000;
}

a:hover {
  color: #ffff00;
}

.turnpurple {
  color: #cc00ff;
}

#specialid {
  color: #00ff00;
}

footer {
  color: #ffb8b8;
}

#divydivs {
  color: #6600cc;
  background-color: #ff9933;
}
